/* General */
.about-page {
  background: var(--light-bg);
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
}

/* ---------------- HERO ---------------- */
.about-hero {
  height: 80vh;
  background:
    linear-gradient(rgba(15, 23, 42, 0.75), rgba(15, 23, 42, 0.75)),
    url("banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.about-hero-content h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.about-hero-content p {
  margin-top: 15px;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* ---------------- STATS ---------------- */
.stats-section {
  padding: 80px 0;
  background: white;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  text-align: center;
}

.stat-box h2 {
  font-size: 2.5rem;
  color: var(--primary);
}

.stat-box p {
  margin-top: 10px;
  font-weight: 500;
}

/* ---------------- STORY ---------------- */
.story-section {
  padding: 100px 0;
}

.story-wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.story-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}

.story-text h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: var(--theme-color);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.story-text p {
  line-height: 1.8;
  margin-bottom: 15px;
}

.story-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* ---------------- WHY SECTION ---------------- */
.why-section {
  padding: 100px 0;
  background: var(--theme-color);
  color: white;
  text-align: center;
}

.why-section h2 {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.why-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px 25px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition: 0.4s ease;
}

.why-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.1);
}

/* ---------------- TEAM ---------------- */
.team-section {
  padding: 100px 0;
  text-align: center;
  /* background-color: var(--theme-color); */
}

.team-section h2 {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.team-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  border: 4px solid var(--accent);
}

/* ---------------- CTA ---------------- */
.cta-banner {
  padding: 100px 20px;
  text-align: center;
  background: var(--primary);
  color: white;
}

.cta-banner h2 {
  font-size: 2.5rem;
}

.cta-banner p {
  margin: 20px 0;
  font-size: 1.1rem;
}

.cta-banner button {
  padding: 14px 23px;
  border: none;
  background: var(--theme-color);
  color: white;
  /* font-weight: 600; */
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-banner button:hover {
  background: white;
  color: var(--primary);
}
