@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
:root {
  --theme-color: rgb(255, 0, 149);
  --theme-light: rgba(255, 0, 149, 0.12);
  --theme-dark: #cc0079;
  --text-dark: #2b2b2b;
  --text-light: #555;
}

body {
  overflow-x: hidden;
}
.material-symbols-outlined {
  font-size: 28px;
  color: rgb(255, 36, 146);
  vertical-align: middle;
}

.row {
  --bs-gutter-x: 2px !important;
  --bs-gutter-y: 2px !important;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: 0px !important;
  margin-left: 0px !important;
  position: relative !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 8px !important;
  --bs-gutter-y: 4px !important;
  width: 100%;
  padding-right: 1px !important;
  padding-left: 1px !important;
  margin-right: auto;
  margin-left: auto;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 2px;
}
