.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: #fff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
   box-shadow: 0 0 1px rgb(255, 36, 146);
  /* height: 3px; */
  /* background-color: rgb(255, 36, 146); */
 
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  width: 350px;
  transition: all 0.3s ease;
}

.search-box:focus-within {
  background: #e8e8e8;
}

.search-icon {
  color: #888;
  margin-right: 8px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  /* width: 100%; */
  font-size: 14px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  position: relative;
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
  color: #111;
}

.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #ff4d4d;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.profile {
  font-size: 24px;
  color: #444;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-box {
    display: none;
  }
}
