.pd-wrapper {
  display: flex;
  gap: 10px;
  padding: 20px 40px;
  background: #fff;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

/* LEFT - Image */
.pd-left {
  flex: 1 ;
  
}

.pd-image {
  position: relative;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0px 4px rgba(0,0,0,0.05);
}

.pd-image img {
  width:  25rem;
  /* height: 300px; */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.pd-image img:hover {
  transform: scale(1.05);
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff3f6c;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}

/* RIGHT - Details */
.pd-right {
  flex: 2;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pd-title {
  font-size: 24px;
  font-weight: 700;
  color: #222;
  text-transform: capitalize;
}

.pd-brand {
  font-size: 14px;
  color: #555;
}

.assured {
  color: #2ecc71;
  margin-left: 5px;
}

.pd-rating {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  color: #444;
}

.pd-price {
  display: flex;
  gap: 10px;
  align-items: baseline;
  font-size: 18px;
  margin: 5px 0;
}

.sp {
  color: #ff3f6c;
  font-weight: 700;
  font-size: 22px;
}

.mrp {
  text-decoration: line-through;
  color: #aaa;
}

.disc {
  color: #00b894;
  font-weight: 600;
}


/* Meta Grid */
.pd-meta-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  margin: 5px 0;
}

.pd-meta-grid div {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
}

.pd-meta-grid strong {
  display: block;
  margin-bottom: 1px;
  color: #222;
}

/* Quantity & Add to Cart */
.pd-actions {
  display: flex;
  align-items:flex-start;
  gap: 20px;
 
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease;
}

.qty-controls button:hover {
  background: #f0f0f0;
}

.qty-controls span {
  font-weight: 600;
  min-width: 24px;
  text-align: center;
}

.btn-add {
  background: #ff3f6c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-add:hover {
  background: #e0325a;
}

/* Description */
.pd-desc h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.pd-desc p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  text-transform: capitalize;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .pd-wrapper {
    flex-direction: column;
  }

  .pd-left, .pd-right {
    width: 100%;
  }
}
