.section-title {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #eee;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.category-img {
  width: 100%;
  height: 80px;
}
.cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
