/* === Category Section === */
.category-section {
  padding: 40px 0;
  background: #ffff;
  border-top: 3px solid lightgray;
}

/* Header */
.category-header {
  text-align: center;
  margin-bottom: 10px;
}

.category-header h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--theme-color);
  text-transform: capitalize;
}

.category-header p {
  font-size: 1rem;
  color: #666;
  opacity: 0.8;
  margin-top: 2px;
}

/* ======= FLEX CONTAINER ======= */
.cat-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* center items */
  align-items: center;
  padding: 10px;
}

/* ======= CARD ======= */
.category-card {
  flex: 0 1 10rem;
  background: white;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.35s ease-in-out;
  box-shadow: 0 0 2px gray;
}

.category-card:hover {
  transform: translateY(-6px);
  /* border-color: #ffc400; */
  box-shadow: 0 0px 5px gray;
}

/* ======= Image Container ======= */
.category-img-box {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff4cc;

  transition: 0.4s;
}

.category-card:hover .category-img-box {
  transform: scale(1.08);
}

/* Image */
.category-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Category Name */
.category-label {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #111;
  transition: 0.3s;
}

/* ======= Responsive ======= */
@media (max-width: 600px) {
  .category-card {
    width: 150px;
    padding: 18px;
  }

  .category-img-box {
    width: 90px;
    height: 90px;
  }
}
