.address-page {
  background: #ffe6f4;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.address-container {
  background: #fff;
  width: 100%;
  max-width: 700px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(255, 0, 149, 0.2);
}

.address-title {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 0, 149);
  margin-bottom: 30px;
}

/* GRID LAYOUT FOR ALL INPUTS */
.address-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* Input group */
.input-group {
  display: flex;
  align-items: center;
  background: #fff4fb;
  border: 1px solid #ff99d9;
  padding: 10px;
  border-radius: 8px;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  margin-left: 10px;
}

.input-icon {
  color: rgb(255, 0, 149);
  font-size: 1.2rem;
}

/* Full width button */
.btn-address {
  width: 100%;
  background-color: rgb(255, 0, 149);
  border: none;
  padding: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 25px;
}

.btn-address:hover {
  background-color: #cc0077;
}

/* Responsive for mobile */
@media (max-width: 600px) {
  .address-form-grid {
    grid-template-columns: 1fr;
  }
}
