/* Navbar Background */
.navbar {
  background: #ffffff;
}
.navbar-toggler-icon {
  background-image: none !important;
}
.navbar-toggler {
  /* border: 1px solid black !important; */
  border-radius: 3px !important;
  padding: 2px 6px !important;
}
.navbar-toggler:hover {
  box-shadow: none !important;
}

/* Cart Badge */

/* Icon Style – thin, not bold, minimalist */
.nav-icon {
  font-size: 1.3rem;
  color: #444;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-icon:hover {
  color: var(--main-bg-color);
}

/* Cart Badge */
.cart-badge {
  background: var(--theme-color);
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -15px;
}

.icon-outline {
  fill: transparent !important; /* no fill color */

  stroke-width: 30; /* thickness */
  font-size: 23px;
  stroke: var(--main-bg-color) !important; /* only outline black */
  cursor: pointer;
  font-weight: bold;
  /* border: 2px solid black; */
}
.navbar-nav {
  flex: 1;
  justify-content: center;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  gap: 10px;
}
.nav-item {
  display: flex;
  /* gap: 23px; */
  justify-content: center;
  align-items: center;
}
.isactive {
  border-bottom: 2px solid var(--main-bg-color);
  padding-bottom: 1px;
  border-radius: 1px;
}
.nav-login-btn {
  background-color: var(--theme-color);
  border: 2px solid black;
  border: none;
  padding: 4px 23px !important;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}
.nav-login-btn:hover {
  background-color: var(--main-bg-color);
}

@media (max-width: 800px) {
  .nav-item {
    justify-content: flex-start;
    /* background-color: red; */
  }
}
