/* ---------------- MAIN LAYOUT ---------------- */
.shop-section {
  display: flex;
  gap: 5px;
  padding: 1px;
  background: #fff;
  min-height: 100vh;
}

/* ---------------- SIDEBAR ---------------- */
.flip-sidebar {
  width: 200px;
  background: #fafafa;
  padding: 12px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sidebar-block {
  margin-bottom: 15px;
}

.sidebar-block h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: gray;
}

.sidebar-block label {
  display: inline;
  font-size: 13px;
  /* margin: 5px 5px; */
  cursor: pointer;
  transition: color 0.2s ease;
  text-transform: capitalize;
}

.sidebar-block label:hover {
  color: var(--theme-color);
}

/* ---------------- PRODUCT AREA ---------------- */
.flip-products {
  flex: 1;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 12px;
  padding: 4px 0px;
}

.products-header h2 {
  font-size: 18px;
  font-weight: bold;
}

.sort-select {
  padding: 10px 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 13px;
}

/* ---------------- GRID ---------------- */
.flip-grid {
  display: flex;

  gap: 5px;
  flex-wrap: wrap;
}
/* Card */
/* Card Wrapper */
.flip-card {
  flex: 0 1 15rem;

  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.25s ease, border-color 0.3s ease;
}

/* Smooth Hover Scale */
.flip-card:hover {
  /* transform: scale(1.04); */
  box-shadow: 0 0 1px #ff4081;
}

/* Wishlist Icon */
.wishlist-btn {
  position: absolute;
  top: 24px;
  right: 0px;
  background: #ffffffd9;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.25s ease;
  z-index: 10;
}

.flip-card:hover .wishlist-btn {
  background: #ff4081;
  color: #fff;
}

/* Image Box */
.flip-img-box {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.flip-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

/* Product Info */
.flip-info {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Brand (Bold) */
.brand {
  font-size: 13px;
  font-weight: 700;
  color: #222;
  text-transform: capitalize;
}

/* Title */
.product-title {
  font-size: 12px;
  color: #666;
}

/* Price Section */
.price-row {
  display: flex;
  gap: 2px;
  align-items: center;
}

.final-price {
  font-weight: 700;
  font-size: 14px;
}

.mrp {
  text-decoration: line-through;
  font-size: 12px;
  color: #999;
}

.discount {
  font-size: 12px;
  background-color: #27ae60;
  font-weight: 600;
  position: absolute;
  bottom: 127px;
  left: 0px;
  color: white;
  border-radius: 26px;
  padding: 3px;
}
.vegornon {
  position: absolute;
  top: 0px;
  left: 0px;
}
.veg {
  background-color: rgb(129, 197, 129);
  display: inline-block;
  padding: 1px 16px;
  border-radius: 60px;
  margin: 2px 1px;
  color: white;
  font-size: 12px;
}
.non {
  background-color: rgb(250, 43, 43);
  display: inline-block;
  padding: 1px 16px;
  border-radius: 60px;
  margin: 2px 1px;
  color: white;
  font-size: 12px;
}

/* Hover Quick View Button */
.quick-view {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #fff;
  font-size: 13px;
  border-radius: 2px;
  font-weight: 600;
  color: #ffff;
  transition: opacity 0.3s ease;
  background-color: var(--theme-color);
  display: inline-block;
  border: none !important;
  width: 80px;
  height: 35px;
  margin: auto;
}

.flip-card:hover .quick-view {
  opacity: 1;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 1024px) {
  .shop-section {
    flex-direction: column;
  }
  .flip-sidebar {
    width: 100%;
  }
}
